doctype html
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	
	title rest-food
	
	link(href='../style/bootstrap.css', rel='stylesheet')
	link(href='../style/app.css', rel='stylesheet')
	body
		nav.navbar.navbar-default.navbar-static-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/') REST-FOOD
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/') Inicio
					li
						a(href='/users') Usuarios
					li
						a(href='/customers') Restaurantes