form(action='/save_customer',method='post',enctype='multipart/form-data')
  .col-md-6
    .form-group
      label(for='name') Restaurant
      input#name.form-control(type='text',name='name', placeholder='Nombre del Restaurante')
    .form-group
      label(for='info') Information
      input#info.form-control(type='text',name='info', placeholder='Information about business')
    .form-group
      label(for='place') Address
      input#place.form-control(type='text',name='place', placeholder='Restaurant Address')
  .col-md-6
    .form-group
      label(for='password') Password
      input#password.form-control(type='password',name='password', placeholder='Password')
    .form-group
      label(for='phone') Phone
      input#phone.form-control(type='text',name='phone', placeholder='Phone')
    .form-group
      label(for='exampleInputFile') Profile Photo
      input#exampleInputFile(type='file',name="foto_perfil")
    .form-group
      label(for='exampleInputFile') Title Photo
      input#exampleInputFile(type='file',name="foto_portada")
    .form-group
      .col-sm-offset-2.col-sm-10.text-right
        button.btn.btn-primary(type='submit') Nuevo Cliente
